 <h4>DB Users :</h4>
 <table class="table table-striped"">
            <thead>
                <tr>
                    <th class="avatar"></th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Created Date</th>
                    <th>Last Login</th>
                    <th>Phone</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                 <tr ng-repeat="user in users" id="userId-{{user.user_id}}">
                      <td><img alt="" src="{{user.avatar}}" style="max-height:50px;" /></td>
                      <td>{{user.full_name}}</td>
                      <td>{{user.email}}</td>
                      <td>{{user.created_date}}</td>
                      <td>{{user.last_login_date}}</td>
                      <td>{{user.telephone}}</td>
                      <td><a href="#/edit/{{user.user_id}}" class="btn button">&nbsp;<i class="glyphicon glyphicon-edit"></i>&nbsp; Edit User</a></td>
                 </tr>
            </tbody>
</table>

          